<app-menu></app-menu>

<div class="container py-5" style="max-width: 90%;">
    <div class="container bg-breadcrumb">
        <div class="container text-center py-5">
            <h2 class="text-white display-3 mb-4 wow fadeInDown" data-wow-delay="0.1s">Gestion de capitulos</h2>
            <div class="row">
                <div class="col">
                    <button class="btn btn-success" id="createCapitulo">Crear Capitulo</button>
                </div>
                <div class="col">
                    <button class="btn btn-warning" id="updateCapitulo">Modificar Capitulo</button>
                </div>
                <div class="col">
                    <button class="btn btn-danger" id="deleteArticulo">Eliminar Capitulo</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Services Start -->
<div class="container-fluid service ">
    <div class="container">
        <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
            <div class="sub-style">
                <h4 class="sub-title px-3 mb-0">Capítulos Vigentes</h4>
            </div>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-md-6 col-lg-4 col-xl-3 wow fadeInUp" data-wow-delay="0.1s"
                *ngFor="let capitulo of capitulosList">
                <div class="service-item rounded">
                    <div class="service-img rounded-top">
                        <img src="img/service-1.jpg" class="img-fluid rounded-top w-100" alt="">
                    </div>
                    <div class="service-content rounded-bottom bg-light p-4">
                        <div class="service-content-inner">
                            <h5 class="mb-4">{{capitulo.numeroCap}}. {{capitulo.titulo}}</h5>
                            <p class="mb-4">{{capitulo.numeroArticulos}}</p>
                            <a (click)="verArticulos(capitulo.numeroCap)"
                                class="btn btn-primary rounded-pill text-white py-2 px-4 mb-2">Ver artículos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->

<!-- crear capitulo -->
<div class="modal fade" id="modalCreate" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="container-fluid bckMorado py-3">
            <div class="container">
              <div class="contact-form">
                <form (ngSubmit)="onSubmit()" #capituloForm="ngForm">
                  <div class="row g-3">
                    <div class="col-lg-12 col-xl-6">
                      <div class="form-floating">
                        <input type="number" class="form-control border border-white" [(ngModel)]="newChapter.numeroCap" name="numeroCap" placeholder="Nro capitulo" required>
                        <label>Numero capitulo</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <input type="text" class="form-control border border-white" [(ngModel)]="newChapter.titulo" name="titulo" placeholder="Titulo" required>
                        <label for="subject">Titulo</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <input type="number" class="form-control border border-white" [(ngModel)]="newChapter.numeroArticulos" name="numeroArticulos" placeholder="Nro Articulos" required>
                        <label>Numero de articulos</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-floating">
                        <input type="text" class="form-control border border-white" [(ngModel)]="newChapter.palabrasClave" name="palabrasClave" placeholder="Palabras clave" required>
                        <label for="subject">Palabras claves (Separadas por comas)</label>
                      </div>
                    </div>
                    <div class="col-12">
                        <div class="form-floating">
                          <input type="text" class="form-control border border-white" [(ngModel)]="verifyToken" name="verifyToken" placeholder="Verify Token" required>
                          <label for="verifyToken">Verify Token</label>
                        </div>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-light text-primary w-100 py-3">Subir Capitulo</button>
                      <br><br>
                      <div class="row justify-content-start">
                        <button type="button" class="btn btn-danger py-3" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- cambiar capitulo -->
<div class="modal fade" id="modalUpdate" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid bckMorado py-5">
                    <div class="contact-form">
                        <form (ngSubmit)="onUpdate()" #updateForm="ngForm">
                            <div class="row g-3">
                                <p class="text-white">Seleccionar si no se va a modificar</p>
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="number" id="numeroCap" class="form-control border border-white" [(ngModel)]="updateChapter.numeroCap" name="numeroCap" placeholder="Nro Articulo" required>
                                        <label>Numero capitulo que desea actualizar</label>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" id="titulo" class="form-control border border-white" [(ngModel)]="updateChapter.titulo" name="titulo" placeholder="Titulo">
                                        <label for="subject">Nuevo Titulo</label>
                                    </div><br>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="text" id="palabrasClave" class="form-control border border-white" [(ngModel)]="updateChapter.palabrasClave" name="palabrasClave" placeholder="palabras clave">
                                        <label for="subject">Palabras clave separadas por comas</label>
                                    </div><br>
                                </div>
                            </div>
                            <div class="row g-3">
                                <div class="col">
                                    <div class="form-floating">
                                        <input type="number" id="numeroArticulos" class="form-control border border-white" [(ngModel)]="updateChapter.numeroArticulos" name="numeroArticulos" placeholder="Numero Articulos">
                                        <label for="message">Número de artículos</label>
                                    </div>
                                </div>
                                <div class="col">
                                    <br><br><br>
                                    <div class="row">
                                        <div class="col">
                                            <button type="submit" class="btn btn-light text-primary w-100 py-3">Modificar</button>
                                        </div>
                                        <div class="col">
                                            <button type="button" class="btn btn-danger text-center py-3" data-bs-dismiss="modal">Cerrar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid bckAzul py-3">
                    <div class="contact-form">
                        <form (ngSubmit)="onDelete()">
                            <div class="row g-3">
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="number" class="form-control border border-white" [(ngModel)]="deleteChapter.numeroCap" name="numeroCap" placeholder="Número Capítulo" required>
                                        <label>Número Capítulo</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-floating">
                                        <input type="text" class="form-control border border-white" [(ngModel)]="verifyToken" name="verifyToken" placeholder="Verify Token" required>
                                        <label for="verifyToken">Verify Token</label>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-danger w-100 py-3">Eliminar Capítulo</button>
                                    <br><br>
                                    <button type="button" class="btn btn-success py-3" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
