<app-menu></app-menu>
        <!-- Services Start -->
        <div class="container-fluid service py-5">
            <div class="container py-5">
                <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.2s">
                    <h1 class="display-3 mb-4">Sugerencias</h1>
                    <p class="mb-0">Numero de nuevas sugerencias: </p>
                </div>
                <div class="row g-4 justify-content-center">
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="blog-item rounded">
                            <div class="blog-centent p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-0 text-muted"><i class="fa fa-calendar-alt text-primary"></i> Fecha de subido</p>
                                    <a href="#" class="text-muted"><span class="fa fa-comments text-primary"></span> urgencia</a>
                                </div>
                                <a href="#" class="h4">Titulo de la sugerencias</a>
                                <p class="my-4">Mostrar la descripcion o una pequeña parte</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-1">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="blog-item rounded">
                            <div class="blog-centent p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-0 text-muted"><i class="fa fa-calendar-alt text-primary"></i> Fecha de subido</p>
                                    <a href="#" class="text-muted"><span class="fa fa-comments text-primary"></span> urgencia</a>
                                </div>
                                <a href="#" class="h4">Titulo de la sugerencias</a>
                                <p class="my-4">Mostrar la descripcion o una pequeña parte</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-1">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="blog-item rounded">
                            <div class="blog-centent p-4">
                                <div class="d-flex justify-content-between mb-4">
                                    <p class="mb-0 text-muted"><i class="fa fa-calendar-alt text-primary"></i> Fecha de subido</p>
                                    <a href="#" class="text-muted"><span class="fa fa-comments text-primary"></span> urgencia</a>
                                </div>
                                <a href="#" class="h4">Titulo de la sugerencias</a>
                                <p class="my-4">Mostrar la descripcion o una pequeña parte</p>
                                <a href="#" class="btn btn-primary rounded-pill text-white py-2 px-4 mb-1">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services End -->